<div style="display: flex; gap: 30px; padding-bottom: 30px; flex-wrap: wrap; align-items: center;">
    <div style="width: 300px;">
        <img src="/assets/mug.png"/>
    </div>
    <div style="width: 410px;">
        <p>Hi! My name is Zhichen (zee-chen) and I’m a Chilean full-stack developer based in the US.</p>
        <p>In my current job as a developer and educator at <a href="https://www.colab.duke.edu" target="_blank">Duke University’s Innovation Co-Lab</a>, where I maintain the website for our 3D printing service, create experimental applications that incorporate LLMs and ML, mentor our student developers as they work on projects ranging from web development to robotics and artificial intelligence, and teach software development workshops.</p>
        <p>Outside of work I enjoy biking, music, cooking Chilean food that I can’t find in the US, or learning new languages and technologies that </p>
    </div>
</div>